<div class="header-container container">
  <header>
    <a href="{{ site.url }}" class="top-link">{{ site.name }}</a>
      <ul class="nav">
        <!--Change the  URL here if working on an absolute domain-->
        <li><a href="{{ site.url }}">Home</a></li>
        <li><a href="{{ site.url }}/about">About</a></li>
	<li><a href="{{ site.url }}/projects">projects</a></li>
	<li><a href="{{ site.url }}/lecture_pdfs">lecture_pdfs</a></li>
	<li><a href="{{ site.url }}"https://github.com/dechavezv/eeb-177-Discussion/issues"
        <li><a class="page-link" href="https://github.com/dechavezv/eeb-177-Discussion/issues">Discussion forum</a></li>
      </ul>
  </header>
</div>
